.transactions {
    // min-height: 100vh;
    padding: 100px 50px 70px;
    position: relative;
    color: var(--white-color);

    .transactions-container {
        background: linear-gradient(rgba(12, 38, 59, 0.8), rgba(12, 38, 59, 0.8)),
            url("../../../images/ui/table_selection_bg.png") repeat-y top center / 100% auto;
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        min-height: calc(100vh - 225px);

        .transactions-title {
            text-align: center;
            padding: 1.5rem;
            font-size: 32px;
            color: #AADDFF;
            text-transform: uppercase;
            background: var(--table-selection-color);
            border-radius: 20px 20px 0 0;
            letter-spacing: 1px;
        }

        table {
            thead {
                tr {
                    th {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@include media-max(xxl) {
    .transactions {
        padding: 100px 30px 70px;

        .transactions-container {
            .transactions-title {
                font-size: 30px;
            }

            table {
                thead {
                    tr {
                        th {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}

@include media-max(xl) {
    .transactions {
        padding: 100px 20px 70px;

        .transactions-container {
            .transactions-title {
                font-size: 26px;
            }

            table {
                thead {
                    tr {
                        th {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

@include media-max(lg) {
    .transactions {
        padding: 100px 10px 70px;

        .transactions-container {
            .transactions-title {
                font-size: 22px;
            }

            table {
                thead {
                    tr {
                        th {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@include media-max(md) {
    .transactions {
        padding: 100px 10px 70px;

        .transactions-container {
            .transactions-title {
                font-size: 20px;
            }
        }
    }
}