DB_URL=mongodb://mongo:27017/holdem
NODE_ENV=production
PORT=4000

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=secret
HASH_KEY=secret

BASE_API_PATH=http://backend:4000/api/v1
FRONTEND_URL=http://frontend:3000
